# Images
MONGO_IMAGE=mongo:7
MINIO_IMAGE=minio/minio:latest
MINIO_MC_IMAGE=minio/mc:latest
SPARK_IMAGE=spark:3.5.5-scala2.12-java17-python3-r-ubuntu

# Database
MONGO_DATABASE=log_analytics
MONGO_PORT=27017
SPARK_MONGO_URI=mongodb://mongodb:27017/log_analytics

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=raw-logs
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
SPARK_MINIO_ENDPOINT=minio:9000

# Spark
SPARK_MASTER_PORT=7077
SPARK_MASTER_UI_PORT=8080
SPARK_WORKER_1_UI_PORT=8081
SPARK_WORKER_2_UI_PORT=8082
SPARK_WORKER_CORES=1
SPARK_WORKER_MEMORY=2G
